# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build Artifacts
build/
dist/
*.egg-info/

# Database
*.db
